.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
    padding: 20rem 0;
  }
}
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8) /*this is not possible in normal css*/
    ),
    url(../img/nat-4.jpg);
  background-size: cover;

  //skewing the entire section
  transform: skewY(-7deg);
  margin-top: -10rem;
  & > * {
    //selecting everything that is a direct (>) child of the section-features
    // should not use all child
    transform: skewY(7deg);
  }
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;

  @include respond(tab-port) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}
.book {
  // using solid color gradient

  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    //rotate the linear gradient gradiet by 105deg, at 0% we want white, then at 50% also we want white then from 50% we want transparent
    //applying linear gradient before url will apply it on top if the image
    url(../img/nat-10.jpg);
  // background-size: cover;
  background-size: 100%; //same as cover (image fits the background in the X direction)
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color: #000000, $alpha: 0.2);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
